/* .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
} */

.timeBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
}

/* .noteBlock {
    width: 90%;
} */

/* .buttonBlock {
    display: flex;
    flex-direction: column;
    width: 10%;
}

button {
    width: 100%;
    height: 50px;
}

textarea {
    width: 100%;
    height: 100px;
} */

